{% extends 'layout.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
                <div class="col-sm-2">
                </div>
                    <div class="col-sm-8">
        <div class="content-section">
            <form method="POST" action="">
        <h2><u>Contact Us</u>   </h2>
    <p></p>Please first carefully read the instructions on the Home page and refer to the<a  href="/handbooks"> Hand Book of information</a> 
    .</p>
    In case you have further queries, contact us at: 
    <ul>
    <li>Phone No. : XXX-XXX-XXXX</li>
    <li>Email : generalenquiries@xyz.ac.in</li>
    <li>Address: Admission Cell, XYZ college, Punjab</li>
    </ul>
    <b>For Editing your Details :</b>
    <p>Candidates can contact to admin for correction in form.</p>
    </div>
    
<div class="col-sm-2">
</div>
</div>
    </div>
    {% endblock content%}