{% extends 'layout.html' %}
    {% block content %}
    <div class="row">
        <div class="col-sm-2">
        </div>
            <div class="col-sm-8">
                <div class="content-section">
                        <form method="POST" action="/comment">
                          <h3><u>HANDBOOKS OF 2020-21</u></h3>
                        </form><br>
                                <div class="posting">
                                    <a href="main-handbook_of_information_2020-2021.php">
                                    <span class="glyphicon glyphicon-duplicate hd_icon"></span>
                                    
                                    <h5>Main Handbook of Information 2020-2021</h5>
                                
                                    <p>Click Here For Information...</p>
                                    </a>
                                </div>   
                                <div class="posting">
                                    <a href="main-handbook_of_information_2020-2021.php">
                                    <span class="glyphicon glyphicon-duplicate hd_icon"></span>
                                    <h5>B.Tech.(Bachelor of Technology)</h5>
                                    <p>Click Here For Information...</p>
                                    </a>
                                </div>   
                                <div class="posting">
                                    <a href="main-handbook_of_information_2020-2021.php">
                                    <span class="glyphicon glyphicon-duplicate hd_icon"></span>
                                    <h5>M.Tech.(Master of Technology)</h5>
                                    <p>Click Here For Information...</p>
                                    </a>
                                </div>   
                                <div class="posting">
                                    <a href="main-handbook_of_information_2020-2021.php">
                                    <span class="glyphicon glyphicon-duplicate hd_icon"></span>
                                    <h5>Computer Science</h5>
                                    <p>Click Here For Information...</p>
                                    </a>
                                </div> 
                                <div class="posting">
                                    <a href="main-handbook_of_information_2020-2021.php">
                                    <span class="glyphicon glyphicon-duplicate hd_icon"></span>
                                    <h5>Fee Structure</h5>
                                    <p>Click Here For Information...</p>
                                    </a>
                                </div> 

 
 
                </div>
            </div>
        <div class="col-sm-2">
        </div>       
    </div>    
    {% endblock content%}