{% extends 'layout.html' %}
{% block content %}
<div class="container" style="min-height:100% width:80%">


<li class="list-group-item list-group-item-success">
    <b>IMPORTANT GUIDELINES</b><br>
    Refer to Handbook of Informaton for details of various courses available at Punjabi University, Patiala and its Regional/ Neighbourhood Campuses.
    Candidates are strictly instructed to confirm eligibility for admission to a particular course before applying.
    </li><br>
               <li class="list-group-item list-group-item-success">
                    <span id="ContentPlaceHolder1_LblCrsCat1">Category I: <ul> <b><u>Post-Graduate Programs:</u></b>
                    <li>M. Sc. , MCA (2 Years), MCA (2 Years with Bridge Course),M.Tech(2 years)(Direct Admission Without Entrance Test)</li>
                    <li>M.Tech. in Artificial Intelligence and Data Science (Direct Admission Without Entrance Test)</li>
                    </ul>
                    in which Admission is on the basis of Merit in qualifying Class (<b>No Entrance Test</b>)</span><br><br>
                    <span id="ContentPlaceHolder1_LblCrsCat1">Category II: <ul><b><u>Graduate Programs:</u></b>
                        <li>B. Sc., BCA (2 Years), BCA (2 Years with Bridge Course),B.Tech(4 years)(Direct Admission Without Entrance Test)</li>
                        </ul>
                            in which Admission is on the basis of Merit in qualifying Class (<b>No Entrance Test</b>)</span>
                    </li><br>
                    <li class="list-group-item list-group-item-success">
                        <span id="ContentPlaceHolder1_LblCrsCat1">
                        <ul>
                        <b>IMPORTANT GUIDELINES</b><br>
                        <li>STEP ONE: Submit the Online Application-cum-Admission Form.</li>
                        <li>STEP TWO: Check Your Eligibility</li>
                        <li>STEP THREE: Appear for the interview as per schedule given in Handbook of Information.</li>
                        </ul></span></li><br>



                        <li class="list-group-item list-group-item-success">
                            <span id="ContentPlaceHolder1_LblCrsCat1">
                                <ul><b><u>IMPORTANT CHECKLIST</u></b><br>
                                    <li>No document is to be attached with online application form.
                                    <li>On the day of interview, the candidates are advised to bring the Self attested Photocopies of all certificates regarding:-
                                    <li>Date of Birth Certificate
                                    <li>DMC of all examinations,
                                    <li>Character certificatefrom the institution last attended,
                                    <li>Gap certificate (if any),
                                    <li> Necessary certificate from employer (for employed candidates only),
                                    <li> Residence/ domicile certificate,
                                    <li>Certificate for availing the benefit of a reserved category/ additional seat (Latest and signed by the competent issuing authorities),
                                    <li>Any other document supporting your candidature as per University Online Admission Brochure.</ul> </span>
                            </li><br>
                    

{% endblock content%}